header {
    background-color: rgb(0, 81, 255); 
}


#body {
    background-color: #aeddf3;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    background-color: rgb(0, 81, 255); 
    height: 75px;
    margin-top: auto;
}