header {
    background-image: url(../9393909.jpg);
    background-size: cover;
    color: red;
    background-position: bottom;
    text-align: center;
}


#body {
    background-image: url('../9518013.jpg');
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-size: cover;
}

footer {
    background-image: url(../9393909.jpg);
    height: 50px;
    margin-top: auto;
    background-size: cover;
    color: red;
    background-position: bottom;
    text-align: center;
}